/*recommend-box*/
.recommend-box {
    color:rgba(0,0,0,0.4);
    padding:15px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.2);}

.recommend-box__title{
    font-size:14px;
    font-weight: 550;}

.recommend-box__txt{
    margin: 80px 0px;
    text-align: center;
    font-weight: 530;}

/*open-chat*/
.open-chat{
    padding: 13px 0px 10px 0px;
    border-bottom:1px solid rgba(0,0,0,0.2);}

.open-chat__head,
.open-chat__content{
    display: flex;
    justify-content: space-between;
    align-items: center;}

/*open-chat__head*/
.open-chat__head{
    font-size: 13px;
    font-weight: 600;
    margin-bottom:15px;}

.open-chat__head-txt{
    color: rgba(0,0,0,0.4);}

.open-chat__head-icon{
    color:rgba(0,0,0,0.2);}

/*open-chat__content*/
.open-chat__maintxt{
    margin-bottom: 7px;
    font-weight: 550;}

.open-chat__subtxt{
    font-size: 13px;
    margin-bottom: 8px;
    font-weight:560;
    color:rgba(0,0,0,0.4);}

.open-chat__txt-box{
    display: flex;
    align-items: center;
    font-size:13px;
    font-weight:550;}

.open-chat__txt-box img{
    margin-right: 8px;
    width:20px;
    height:20px;
    border-radius: 50%;}

.open-chat__txt-box-colora{
    color:rgba(0,0,0,0.3);}

.open-chat__txt-box-colorb{
    color: rgba(236, 111, 221, 0.901);}

.open-chat__content-img img{
    width:90px;
    height:90px;
    border-radius: 9px;}

.open-chat__content-img{
    position: relative;}

.open-chat__content-imgluv{
    display: flex;
    align-items: center;
    opacity:0.6;
    font-size: 15px;
    justify-content: center;
    background-color: black;
    color: white;
    width:60px;
    height:20px;
    border-radius: 13px;
    position: absolute;
    bottom:10px;
    right:5px;}

.open-chat__content-imgluv span{
    margin-left:5px;}

/*animation_luv*/

@keyframes heartbeat{
    0%{transform: scale(1);}

    50%{transform: scale(1.5);
    color: tomato;}

    100%{transform: scale(1);}}

.open-chat__content-imgluv i{
    animation: heartbeat 1s ease-in infinite;}

.open-chat__content-imgluv i:hover{
    font-size:20px;}
