#talk-with{
    background-color: rgb(185, 220, 234);}

/*date_for--talk*/

.main-talk{
    display: flex;
    justify-content: center;}

.talk-date{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    width: 200px;
    padding: 7px;
    border-radius: 13px;
    background-color: rgba(0,0,0,0.2);
    color: white;
    font-size: 12px;}


/*talk-user__A-animation*/
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}}


/*talk-user__A*/
.talk-user{display: flex;
margin: 20px 0px;
animation: fadein 2s;}

.talk-user__img{
    margin-right:10px;
    border-radius: 14px;
    width:40px;
    height: 40px;}

.talk-user__txt{
    display: flex;
    flex-direction: column}

.talk-user__txt span:last-child{
    color:rgba(0,0,0,0.6);
    font-size:11px;
    display: flex;
    justify-content: end;
    margin-top:-13px;
    margin-right: -30px;}

.talk-user__txt-title{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.4);
    margin-bottom: 10px;}

.talk-user__txt-subtitle{
    background-color: white;
    padding:7px;
    border-radius: 0px 100px 100px 100px}

/*talk-user__B : little messy*/
.talk-lead__user{
    animation: fadein 5s ease-in-out;}

.talk-user__leadtxt{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;}

.talk-user__txt-leadtitle{
    background-color: yellow;
    border-radius: 100px 0px 100px 100px;
    padding:7px;}

.talk-user__leadtxt span:last-child{
    color:rgba(0,0,0,0.6);
    font-size:11px;
    margin-right:5px;}

/*bottom-message box : messy*/

.message-box{
    display: flex;
    align-items: center;
    background-color: white;
    padding:15px;
    width: 100%;
    position: fixed;
    bottom:0px;
    color:rgba(0,0,0,0.3);}

.message-box__img{
    width: 10%;}

.message-box__txt{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;}

.message-box__txt i{
    position: absolute;
    right:60px;
    top: 17px;
    color:black;}

.message-box__txt i:last-child{
    right:30px;
    color:tomato;}

.message-box__txt-sth{
    border-radius: 13px;
    padding:8px;
    width: 90%;}



