.index-bar{
    display: flex;
    justify-content: space-between;
    padding:17px 15px 13px 15px;}

.index-bar__column h4{
    font-size:25px;
    font-weight:550;}

.index-bar__column i{margin-left:15px;}


@keyframes gearturn{
    0%{transform: none;}

    50%{transform: rotate(360deg)}

    100%{transform: none;}}

.fa-gear:hover{
    animation:gearturn 3s ease-in-out infinite;}
