/*user-box__total*/

.user-box{justify-content: space-between;
    margin-top:10px;}

.user-box,
.user-box__column{
    display: flex;
    align-items: center;}

/*user-box__colum1*/

.user-box__txt-title{
    font-size: 17px;
    font-weight: 600;}

.user-box__txt-subtitle{
    margin-top: 7px;
    font-size:14px;
    font-weight: 550;
    color:rgba(0,0,0,0.4);}

/*user-box__colum2*/

.user-box__column:last-child{
    flex-direction: column;
    align-items: end;}

.user-box__column span{
    margin-top:6px;}

.user-box__time{
    font-size: 13px;
    color:rgba(0,0,0,0.4);}

.user-box__img{
    margin-right:12px;
    width:55px;
    height:55px;
    border-radius: 35%;}

